/**
 * Editor block styles.
 */

.icon-controls-tools-panel-item {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.upload-icon-control {
	display: flex;
	flex-direction: column;
	gap: 12px;

	#{&}__header {
		margin: 0;
	}

	#{&}__inner {
		display: flex;
		flex-direction: row;
		gap: 8px;
	}

	#{&}__file-select {
		box-sizing: border-box;
		display: block;
		flex: 1;
		max-width: 100%;

		text-align: start;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		border: var(--wp-components-color-gray-600, #949494) 1px solid;

		&:hover {
			border-color: var(--wp-components-color-gray-700, #757575);
		}
	}

	.components-form-file-upload:has(#{&}__file-select) {
		box-sizing: border-box;
		display: flex;
		flex: 1;
		min-width: 0;
	}

	#{&}__submit {
		box-sizing: border-box;
		height: auto;
	}

	#{&}__error {
		box-sizing: border-box;
		display: block;
		padding: 6px 12px;
		border-radius: 2px;
		color: #cf2e2e;
		background: #fdecf1;
		border: #cf2e2e 1px solid;
	}
}

.pick-icon-control {
	display: flex;
	flex-direction: column;
	gap: 12px;

	#{&}__header {
		margin: 0;
	}

	#{&}__inner {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 6px;
		max-height: 40vh;
		overflow-y: scroll;
		border-radius: 2px;
		border: var(--wp-components-color-gray-600, #949494) 1px solid;
	}

	#{&}__spinner-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px 0;
	}

	#{&}__items {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
		gap: 2px;
	}

	#{&}__spinner {
		width: 24px;
		height: 24px;
		border: 2px solid #1e1e1e;
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;

		@keyframes rotation {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	#{&}__error {
		box-sizing: border-box;
		display: block;
		padding: 6px 12px;
		border-radius: 2px;
		color: #cf2e2e;
		background: #fdecf1;
		border: #cf2e2e 1px solid;
	}

	#{&}__footer {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}
}

.pick-icon-button {
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: auto !important;
	padding: 6px;
	box-shadow:
		inset 0 0 0 1px
			var(
				--wp-components-color-accent,
				var(--wp-components-color-gray-600, #949494)
			),
		0 0 0 currentColor;

	&.pick-icon-button__default {
		justify-content: center;
		align-items: center;
	}

	&#{&}__selected {
		outline: var(--wp-admin-theme-color, #007cba) 2px solid;
		outline-offset: -2px;
		background-color: rgba(
			var(--wp-admin-theme-color--rgb, (0, 124, 186)),
			0.15
		);
	}

	#{&}__inner {
		display: flex;
		flex-direction: column;
		justify-self: stretch;
		align-self: stretch;
		flex: 1;
	}

	#{&}__icon-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		width: 100%;
		min-height: 0;
	}

	#{&}__icon {
		aspect-ratio: 1;
		width: auto;
		height: 100%;
		max-height: min(32px, 100%);
	}
}

.delete-icon-control {
	justify-content: center;
}

.components-form-file-upload:has(.update-icon-control) {
	display: flex;
	justify-content: stretch;
}

.update-icon-control {
	justify-content: center;
	flex: 1;
}
