/**
 * Frontend and editor block styles
 */

.wp-block-windmill-blocks-icon {
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.windmill-blocks-icon__inner-icon {
	flex: 1;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

/** Fallback icon block size */
:where(.wp-block-windmill-blocks-icon) {
	width: 24px;
	height: 24px;
}
