/**
 * Frontend and editor block styles
 */
.wp-block-windmill-blocks-mega-menu-menu {
	position: absolute !important;
	bottom: 0;
	transform: translateY(100%) !important;
	left: 0;
	width: 100% !important;
}
